<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auteur</title>
</head>
<body>
    <%- include ('./partials/header') %>
    <form action="/auteur" method="post">
        ID :
        <input type="text" name="ID" > <br>
        Nom:
        <input type="text" name="nom" > <br>
        <button type="submit" id="addauteur()">Add</button>
        </form>
    
</body>
</html>