<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citation</title>
</head>
<body>
    
    <form action="/auteur" method="post">
    ID :
    <input type="text" name="ID" > <br>
    Text:
    <input type="text" name="text" > <br>
    Source:
    <input type="text" name="source" > <br>
    ID_Auteur:
    <input type="text" name="id_auteur" > <br>
    <button type="submit" id="addcitation()">Add</button>
    </form>


</body>
</html>