<!doctype html>
<html lang="en">

<head>
  <title>Book Website</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Fonts Stylecss -->

  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="col-12 bg">
    <nav class="navbar navbar-expand-lg bg-transparent">
      <a class="navbar-brand" href="#">Book Website</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/update">Update</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/citation">Citation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auteur">Auteur</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-font1" href="#"><i class="fab fa-youtube"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-font1"  href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-font1" href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-font1" href="#"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="container-fluid ">
      <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
          <form class="form-container" action="/" method="POST">
            <div class="form-group">
              <label>ID Auteur</label>
              <input type="number" class="form-control" aria-label="insert id auteur" name="id_auteur">
            </div>
            <div class="form-group">
              <label>Source</label>
              <input type="text" class="form-control" aria-label="Link Source" name="source">
            </div>
            <div class="form-group">
              <label>Nom Auteur</label>
              <input type="text" class="form-control" aria-label="nom Auteur" name="nom">
            </div>
            <div class="form-group">
              <label>Text</label>
              <input type="text" class="form-control" aria-label="Text" name="text" style="height: 200px;">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        </section>
      </section>
    </section>

  </div>



















  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>

</html>