<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citation</title>
</head>
<body>
    
    <form action="/" method="post">
    ID :
    <input type="text" name="id" > <br>
    Text:
    <input type="text" name="text" > <br>
    Source:
    <input type="text" name="source" > <br>
    ID Auteur:
    <input type="text" name="id_auteur" > <br>
    <hr>
    Nom Auteur:
    <input type="text" name="nom" > <br>
    <button type="submit" ">Add Formlaire</button>
    </form>


</body>
</html>