<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citation</title>
</head>
<body>
            <div class=""> 
            <H1> Create </H1>
            <form action="/" method="post">
            Text:
            <input type="text" name="text" > <br>
            Source:
            <input type="text" name="source" > <br>
            ID Auteur:
            <input type="number" name="id_auteur" > <br>
            <hr>
            Nom Auteur:
            <input type="text" name="nom" > <br>
            <button type="submit" ">Create </button>
            </form>        
            </div>
            <br>
            <br>
            <br>
            <br>

            <div class=""> 
                <H1> UPDATE </H1>
                <form action="/updatecitation" method="POST">
                ID:
                <input type="number" name="id" > <br>
                Text:
                <input type="text" name="text" > <br>
                Source:
                <input type="text" name="source" > <br>
                ID Auteur:
                <input type="number" name="id_auteur" > <br>
                <hr>
                <button type="submit" ">UPDATE </button>
                </form>        
                </div>
</body>
</html>